.btn_add_group {
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 16px 0px #00000030;
    background: linear-gradient(203deg, #1e86e5 12.45%, #1ec1e5 107.4%);
    border-radius: 100%;
    padding: 7.5px;
}
