.button {
    width: fit-content;
    height: fit-content;
    padding: 12px 24px;
    border-radius: 54px;
    background: linear-gradient(232deg, #1e86e5 32.74%, #1ec1e5 95.49%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
}
