.comment_area {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    min-height: 80px;
    border-radius: 100vh;
    background: linear-gradient(262deg, #59d4fa 36.35%, #b1edff 96.4%);
    z-index: 100;
    left: -20px;

    p {
        font-size: 18px;
    }
    position: relative;
    .comment_good {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &::after {
        content: "";
        width: 16px;
        height: 16px;
        background: url("/assets/comment_arrow.svg") no-repeat top/contain;
        position: absolute;
        top: 96%;
        left: 16%;
    }
}
.mine {
    background: url("/assets/comment_arrow.svg") no-repeat top/contain;
    transform: scale(-1, 1);
    box-sizing: border-box;
    border: 5px solid #a1e9ff;
    background: #fff;
    left: 20px;
    &::after {
        top: 100%;
    }
    p {
        transform: scale(-1, 1);
    }
}
