.detailAccount {
    width: 180px;
    height: 100%;
    padding: 0 16px;
    border-radius: 100vh;
    background: linear-gradient(232deg, #1e86e5 32.74%, #1ec1e5 95.49%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}
